.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.List {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  max-width: 900px;
}
